.brainstorm-editor {
    min-height: 76vh;
    max-width: 96vw;
    margin: 25px;
}

.header-container {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.title {
    display: flex;
    gap: 20px;
}